.body{
    background-color: oklch(87.587% 0.28215 140.052);
    background-color: #51ff00;
    background-color: oklch(62.793% 0.25768 29.223);
    background-color: oklch(96.479% 0.21188 110.946);
    background-color: oklch(50.015% 0.29417 284.081);
    background-color: oklch(49.936% 0.28129 265.637);

}