[package]
name = "cpp-linter"
edition = "2021"
readme = "README.md"
keywords = ["clang-tidy", "clang-format", "linter"]
categories = ["command-line-utilities", "development-tools", "filesystem"]
repository = "https://github.com/cpp-linter/cpp-linter-rs"
version.workspace = true
authors.workspace = true
description.workspace = true
homepage.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.99"
chrono = "0.4.42"
clap = "4.5.47"
colored = "3.0.0"
fast-glob = "1.0.0"
futures = "0.3.31"
git2 = "0.20.2"
lenient_semver = "0.4.2"
log = { version = "0.4.28", features = ["std"] }
quick-xml = { version = "0.38.3", features = ["serialize"] }
regex = "1.11.2"
reqwest = "0.12.23"
semver = "1.0.27"
serde = { version = "1.0.224", features = ["derive"] }
serde_json = "1.0.145"
tokio = { version = "1.47.1", features = ["macros", "rt-multi-thread"] }
tokio-macros = "2.5.0"
tokio-stream = "0.1.17"
which = "8.0.0"

[dev-dependencies]
mockito = "1.7.0"
tempfile = "3.22.0"
git2 = { version = "0.20.2", features = ["https"]}

[features]
openssl-vendored = ["git2/vendored-openssl"]

[lib]
bench = false

[[bin]]
name = "cpp-linter"
path = "src/main.rs"
test = false
bench = false
